@model MVCDemo1.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<table>
    <tr>
        <td>
            employeeId
        </td>
        <td>
            @Model.employeeid
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Salary
        </td>
        <td>
            @Model.Salaray
        </td>
    </tr>
</table>

